body {
	background-color: #DE7C5A;
}

.title {
	font-size: 4em;
	text-align: center;
	color: #280000;
}

.subtitle {
	color: #570000;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 2em;
}

.centered {
	text-align: center;
}