body {
	background-color: #DE7C5A;
}

.title {
	font-size: 4em;
	text-align: center;
	color: #280000;
}

.subtitle {
	color: #570000;
	text-align: center;
	margin: 0px 20px;
}

.centered {
	text-align: center;
}